<style>
.balao {
  color: #FFF;
  padding: 5px;
  position: relative;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--cor-primaria); 
  display: flex;
  border-radius: 10px;
  align-items: center;
  overflow: hidden; /* para ocultar partes do SVG que ficarem fora do balão */
}

.balao::before {
  content: url('https://raw.githubusercontent.com/Devimla/svg-entrega/main/desconto.svg');
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  pointer-events: none; /* para permitir que o mouse ignore o SVG e interaja com o texto */
}

.balao p {
  margin: 0px;
  position: relative;
  z-index: 1;
}
</style>
<div class="balao">
  <p>Los cupones pueden ser aplicados en la página de pago</p>
</div>