                <div class="product__description rte quick-add-hidden" {{ block.shopify_attributes }}>
                                <div class="balao">
                  <p>Los cupones pueden ser aplicados en la página de pago ç</p>
                </div>