<style>
.balao {
  color: #FFF;
  padding: 5px;
  position: relative;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--cor-primaria); 
  display: flex;
  border-radius: 40px;
  align-items: center;
}
.balao p {
  margin: 0px;
}
</style>
<div class="balao">
  <p>Los cupones pueden ser aplicados en la página de pago</p>
</div>