<div data-app-block-banners="">
    
    
      
        <!-- BEGIN app snippet: icons --><div data-banner="" data-id="f410ebfb-a7c3-4362-8805-ad8c6cf12ef2" style="
        width: 100%;
        padding: 10px min(10px, 10px) 10px;
        border: 0px solid #c5c8d1;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #FFFFFF;
        position: relative;
        
    
  ">
    
    

    
    
      
        
        

    
    
    
    
    

    

    

    

    
        <style>
            .icon-block-container-f410ebfb-a7c3-4362-8805-ad8c6cf12ef2 {
                grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            }
            @media (min-width: 768px) {
                .icon-block-container-f410ebfb-a7c3-4362-8805-ad8c6cf12ef2 {
                    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                }
            }
        </style>
    

    <div class="icon-block-container icon-block-container-f410ebfb-a7c3-4362-8805-ad8c6cf12ef2" style="
        display: grid;
        width: 100%;
        
        justify-content: center;
        column-gap: 8px;
        row-gap: 16px;
    ">
    
        
        <div class="icon-block" style="
                display: grid;
                align-content: start;
                row-gap: 4px;
            ">
            
                <div class="icon-container" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    
                        background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/ecom-icons/delivery2.svg');
                        background-repeat: no-repeat;
                        background-position: center;   
                        background-size: 32px;
                    
                    
                ">
                <div class="icon" style="
                    height: 32px;
                    width: 32px;
                    display: flex;
                    
                    "></div>
                </div>
            
            
                <div class="text-container" style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex: 1;
                    gap: 2px;
                    ">
                    
                        <span class="title" style="
                            display: block;
                            font-weight: 600;
                            font-size: 16px;
                            color: #202223;
                            margin: 0;
                            line-height: 1;
                            word-wrap: break-word;
                            max-width: 100%;
                        ">Envío gratuito</span>
                    
                    
                        <span class="subheading" style="
                            display: block;
                            font-size: 14px;
                            color: #96a4b6;
                            font-weight: 400;
                            margin: 0;
                            line-height: 1;
                            word-wrap: break-word;
                            max-width: 100%;
                            ">Sin costos adicionales</span>
                    
                </div>
            

            

            
        </div>
    
        
        <div class="icon-block" style="
                display: grid;
                align-content: start;
                row-gap: 4px;
            ">
            
                <div class="icon-container" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    
                        background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/ecom-icons/box2.svg');
                        background-repeat: no-repeat;
                        background-position: center;   
                        background-size: 32px;
                    
                    
                ">
                <div class="icon" style="
                    height: 32px;
                    width: 32px;
                    display: flex;
                    
                    "></div>
                </div>
            
            
                <div class="text-container" style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex: 1;
                    gap: 2px;
                    ">
                    
                        <span class="title" style="
                            display: block;
                            font-weight: 600;
                            font-size: 16px;
                            color: #202223;
                            margin: 0;
                            line-height: 1;
                            word-wrap: break-word;
                            max-width: 100%;
                        ">Devolución fácil</span>
                    
                    
                        <span class="subheading" style="
                            display: block;
                            font-size: 14px;
                            color: #96a4b6;
                            font-weight: 400;
                            margin: 0;
                            line-height: 1;
                            word-wrap: break-word;
                            max-width: 100%;
                            ">Hasta 7 días para devolver <3</span>
                    
                </div>
            

            

            
        </div>
    
        
        <div class="icon-block" style="
                display: grid;
                align-content: start;
                row-gap: 4px;
            ">
            
                <div class="icon-container" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    
                        background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/ecom-icons/shield.svg');
                        background-repeat: no-repeat;
                        background-position: center;   
                        background-size: 32px;
                    
                    
                ">
                <div class="icon" style="
                    height: 32px;
                    width: 32px;
                    display: flex;
                    
                    "></div>
                </div>
            
            
                <div class="text-container" style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex: 1;
                    gap: 2px;
                    ">
                    
                        <span class="title" style="
                            display: block;
                            font-weight: 600;
                            font-size: 16px;
                            color: #202223;
                            margin: 0;
                            line-height: 1;
                            word-wrap: break-word;
                            max-width: 100%;
                        ">Pago seguro</span>
                    
                    
                        <span class="subheading" style="
                            display: block;
                            font-size: 14px;
                            color: #96a4b6;
                            font-weight: 400;
                            margin: 0;
                            line-height: 1;
                            word-wrap: break-word;
                            max-width: 100%;
                            ">Con la misma seguridad que ofrecen los bancos</span>
                    
                </div>
            

            

            
        </div>
    
        
        <div class="icon-block" style="
                display: grid;
                align-content: start;
                row-gap: 4px;
            ">
            
                <div class="icon-container" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    
                        background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/ecom-icons/speech4.svg');
                        background-repeat: no-repeat;
                        background-position: center;   
                        background-size: 32px;
                    
                    
                ">
                <div class="icon" style="
                    height: 32px;
                    width: 32px;
                    display: flex;
                    
                    "></div>
                </div>
            
            
                <div class="text-container" style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex: 1;
                    gap: 2px;
                    ">
                    
                        <span class="title" style="
                            display: block;
                            font-weight: 600;
                            font-size: 16px;
                            color: #202223;
                            margin: 0;
                            line-height: 1;
                            word-wrap: break-word;
                            max-width: 100%;
                        ">Soporte</span>
                    
                    
                        <span class="subheading" style="
                            display: block;
                            font-size: 14px;
                            color: #96a4b6;
                            font-weight: 400;
                            margin: 0;
                            line-height: 1;
                            word-wrap: break-word;
                            max-width: 100%;
                            ">Cuenta con nosotros para cualquier pregunta</span>
                    
                </div>
            

            

            
        </div>
    
  </div>
</div>
<!-- END app snippet -->
      
    
  </div>