<div data-banners="" style="display: block;">
    <div data-banner="" style="
        width: 100%;
        padding: 5px min(5px, 5px) 5px;
        border: 1px solid #1773B0;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 1px !important;
        margin-bottom: 5px !important;
        background: #FFFFFF !important;
        position: relative;">
    <div id="icon_container" style="
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: 4px;
        margin-right: 4px;
        border-radius: 18px;
        background-color: #ffffff;
        background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/ecom-icons/delivery2.svg');
        background-repeat: no-repeat;
        background-position: center;   
        background-size: 35px;">
    <div id="icon" style="
        height: 35px;
        width: 35px;
        display: flex !important;">
    </div>
</div>
    <div id="text_container" style="
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 1;
        gap: 2px;">
    <span id="title" style="
        display: block;
        font-weight: 600 !important;
        font-size: 16px;
        color: #1773B0;
        margin: 0;
        line-height: 1;
        word-wrap: break-word;
        max-width: 100%;
      ">ENVÍO GRATIS
    </span>
    <span id="subheading" style="
        display: block;
        font-size: 14px !important;
        color: #96a4b6 !important;
        font-weight: 400 !important;
        margin: 0;
        text-align: left;
        line-height: 1;
        word-wrap: break-word;
        max-width: 100%;">Entregado a tu puerta, ¡por nuestra cuenta!</span>
    </div>
</div>
<div data-banner="" data-id="c60059e7-d21a-467b-8c1d-6e821741f4b7" style="
    width: 100%;
    padding: 5px min(5px, 5px) 5px;
    border: 1px solid #1773B0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    background: #ffffff;
    position: relative;">
    <style>
        .icon-block-container-c60059e7-d21a-467b-8c1d-6e821741f4b7 {
            grid-template-columns: repeat(5, 1fr);
                }
            @media (min-width: 768px) {
        .icon-block-container-c60059e7-d21a-467b-8c1d-6e821741f4b7 {
            grid-template-columns: repeat(5, 1fr);
                }
            }
    </style>
<div class="icon-block-container icon-block-container-c60059e7-d21a-467b-8c1d-6e821741f4b7" style="
        display: grid;
        width: 100%;
        justify-content: center;
        column-gap: 8px;
        row-gap: 16px;">
        <div class="icon-block" style="
        display: grid;
        align-content: start;
        row-gap: 4px;
    ">
    
        <div class="icon-container" style="
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            border-radius: 10px;
            background-color: #ffffff;
            width: fit-content;
            margin: auto;
            
                background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/files/ef8afd.myshopify.com/paypal-logo-0.png');
                background-repeat: no-repeat;
                background-position: center;   
                background-size: 35px;
            
            
        ">
        <div class="icon" style="
            height: 35px;
            width: 35px;
            display: flex;
            
            "></div>
        </div>
        </div>
     <div class="icon-block" style="
        display: grid;
        align-content: start;
        row-gap: 4px;">
    <div class="icon-container" style="
        display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 10px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/payment-icons/Mastercard2.svg');
                    background-repeat: no-repeat;
                    background-position: center;   
                    background-size: 35px;
                    background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/payment-icons/Mastercard2.svg');
                    background-repeat: no-repeat;
                    background-position: center;   
                    background-size: 35px;">
                <div class="icon" style="
                    height: 35px;
                    width: 35px;
                    display: flex;">
                </div>
            </div> 
        </div>
        <div class="icon-block" style="
                display: grid;
                align-content: start;
                row-gap: 4px;">
                <div class="icon-container" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 10px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/payment-icons/Visa2.svg');
                    background-repeat: no-repeat;
                    background-position: center;   
                    background-size: 35px;
                    background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/payment-icons/Visa2.svg');
                    background-repeat: no-repeat;
                    background-position: center;   
                    background-size: 35px;">
                <div class="icon" style="
                    height: 35px;
                    width: 35px;
                    display: flex;">
                    </div>
                </div>     
        </div>
        <div class="icon-block" style="
                display: grid;
                align-content: start;
                row-gap: 4px;
            ">
            
                <div class="icon-container" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 10px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/payment-icons/americanexpress-color-large.svg');
                    background-repeat: no-repeat;
                    background-position: center;   
                    background-size: 35px;
                    background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/payment-icons/americanexpress-color-large.svg');
                    background-repeat: no-repeat;
                    background-position: center;   
                    background-size: 35px;">
                <div class="icon" style="
                    height: 35px;
                    width: 35px;
                    display: flex;">
            </div>
        </div>
    </div>
    <div class="icon-block" style="
                display: grid;
                align-content: start;
                row-gap: 4px;
            ">
            
                <div class="icon-container" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 10px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    
                        background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/payment-icons/ApplePay.svg?t=2023-11-13T06%3A22%3A42.571Z');
                        background-repeat: no-repeat;
                        background-position: center;   
                        background-size: 35px;
                    
                    
                        background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/public/payment-icons/ApplePay.svg?t=2023-11-13T06%3A22%3A42.571Z');
                        background-repeat: no-repeat;
                        background-position: center;   
                        background-size: 35px;
                    
                ">
                <div class="icon" style="
                    height: 35px;
                    width: 35px;
                    display: flex;
                    
                    "></div>
                </div>
 </div>
    
        
        <div class="icon-block" style="
                display: grid;
                align-content: start;
                row-gap: 4px;
            ">
            
                <div class="icon-container" style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 10px;
                    background-color: #ffffff;
                    width: fit-content;
                    margin: auto;
                    
                        background-image: url('https://rivmorkxomnwzdlytbgv.supabase.co/storage/v1/object/public/files/ef8afd.myshopify.com/paypal-logo-0.png');
                        background-repeat: no-repeat;
                        background-position: center;   
                        background-size: 35px;
                    
                    
                ">
                <div class="icon" style="
                    height: 35px;
                    width: 35px;
                    display: flex;
                    
                    "></div>
                </div>
            
            

            

            
        </div>
    
  </div>
</div>
<!-- END app snippet -->
      
    
  
</div>